@model Breshop.Models.Produto

<!DOCTYPE html>
<html style="font-size: 16px;" lang="pt">
<head>

</head>
<body class="u-body u-xl-mode" data-lang="pt">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2>Checkout</h2>
        <h4>Produto</h4>
    </div>
    <div>
        <a asp-controller="Produto" asp-action="Index">Voltar</a>
    </div>
</body>


